@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F4F1DE;
  color: #505370;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  font-family: "Marcellus SC", serif;
  font-size: 20px;
  background-color: #cec9aa;
  width: 100vw;
  padding: 2vh 0;
  box-shadow: 0 3px 3px #b1b1b1;
}

button {
  color: #505370;
  width: fit-content;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  gap: 5vh;
  width: 100%;
}
.container #form-new-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 4vw;
  width: 100%;
}
.container #form-new-book .form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}
.container #form-new-book .form-inputs .label-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container #form-new-book .form-inputs .label-input input {
  border-radius: 6px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
}
.container #form-new-book .form-inputs .label-input input[type=text]:hover,
.container #form-new-book .form-inputs .label-input input[type=number]:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.2784313725);
}
.container #form-new-book .form-inputs .label-input input::-webkit-outer-spin-button,
.container #form-new-book .form-inputs .label-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container #form-new-book .form-inputs .label-input input[type=number] {
  -moz-appearance: textfield;
}
.container #form-new-book #add-button {
  background-color: #bbc2ee;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.2s ease;
}
.container #form-new-book #add-button:hover {
  background-color: #505370;
  color: #fff;
}
.container table,
.container th,
.container td {
  border-collapse: separate;
}
.container #table {
  text-align: center;
  width: 100%;
}
.container #table th {
  background-color: #b6ae78;
  color: #fff;
}
.container #table th,
.container #table td {
  min-width: fit-content;
  height: 40px;
}
.container #table td {
  font-size: 14px;
}
.container #table .read-book {
  background-color: #97d3b6;
}
.container #table .no-read-book {
  background-color: #ffb1b1;
}
.container #table .read-button,
.container #table .delete-button {
  font-size: 14px;
  padding: 5px 1vw;
  border-radius: 4px;
}
.container #table .read-button {
  background-color: #ffd381;
}
.container #table .delete-button {
  background-color: #ff5858;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .form-inputs {
    flex-direction: column;
  }
  .form-inputs div:nth-child(4) label {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
